@font-face{
  font-family: Agency FB;
  src: url('../font/agency-fb-bold_[allfont.es].ttf');
  font-style: bold;
  font-weight: 700;
}
@font-face{
  font-family: Agency FB;
  src: url('../font/01182_AgencyFB.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: corbel ;
  src: url('../font/CORBEL.TTF');
  font-style: normal;
  font-weight: 400;
}

:root {
  /* colors */
  --color-white: #8b949e;
  --color-black: #212e37;
  /* fonts */
  --main-font: 'Corbel', arial;
  --second-font: 'Agency FB', arial;
}

html{
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  color: var(--color-black);
}

body{
  margin: 0;
  width: 100%;
}
h1, h4{
  font-family: var(--second-font);
}
h1{
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
h4{
  margin: 15px 0;
  font-size: 16px;
}

a{
  text-decoration: none;
  color: var(--color-black);
}
main{
  padding-left: 10px;
  padding-right: 10px ;
}

header{
  padding-left: 10px;
  padding-right: 10px;
}
header div{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

figure{
  margin: 10px;
  text-align: center;
}
img{
  width: 70%;
}
.image__qr-f{
  width: 40%;
}

.content__personal p{
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
.content__personal-name p{
  font-family: var(--second-font);
  font-size: 16px;
}
.content__resume p,
.content__others p{
  font-size: 12px;
  text-align: justify;
}
.content__abilities ul,
.content__languages ul{
  padding-left: 5px;
  margin: 0;
}
.content__abilities li{
  font-size: 12px;
  list-style: none;
  font-family: var(--second-font);
}
.content__abilities-program{
  direction: rtl;
  padding-right: 0;
}
.content__languages li{
  font-size: 12px;
  list-style-position: inside;
}
.info__experience h4{
  margin-top: 0;
}
.experience-content,
.education-content{
  margin: 15px 0;
}
.experience-content p,
.education-content p{
  margin: 0;
}
.experience-description p,
.education-content p{
  font-family: var(--second-font);
  font-size: 14px;
}
.experience-functions{
  margin: 5px 0;
}
.experience-functions p,
.info__other p{
  font-family: var(--main-font);
  font-size: 12px;
  text-align: justify;
}

body.darkmode{
  background: #0d1117;
  color: #8b949e;
}
.darkmode__title{
  color: #58a6ff;
}
.darkmode__title-profile{
  color: #c9d1d9;
}
button{
  position: fixed;
  top: 15px;
  left: 15px;
}
.switch{
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}
.switch::after{
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}
.active{
  background: #58a6ff;
  color: var(--color-black);
}
.active::after{
  right: 0;
  left: unset;
}